<section>
    <div class=" d-flex justify-content-center">
        <div class="col-12 px-xl-5 py-3  ">
            <div class='px-xl-3 pt-xl-2 d-flex'>
                <div class='col-xl-3 col-2 p-0  pl-xl-4 pl-lg-0'><img class='radies-50 col-11 p-0' src="/assets/images/rebecca.png" alt='rebecca' /></div>
                <div class='col-xl-9 col-10 pl-0 pr-lg-0 pr-xl-3 ml-3'>
                    <p class='ft-size-12 fw-300 mb-2'>"Luke is amazing! He's helped me with
                        health insurance needs the past couple
                        years.Not only is he extremely responsive,
                        but he also goes above and beyond in helping
                        you with whatever you need. Thanks Luke!"

                    </p>
                    <p class='ft-size-12 fw-700 mb-0'>Karelle T</p>
                </div>
            </div>
        </div>
    </div>
</section>