<section>
    <div class=" d-flex justify-content-center">
        <div class="col-12  col-xl-10  py-3  ">
            <div class=' d-flex align-items-center'>
                <div class='col-xl-3 col-2 mb-4  pl-0'>
                    <img class='radies-50 w-100' src="/assets/images/kelly.png" alt='kelly' />
                </div>
                <div class='col-xl-9 col-10 px-0 '>
                    <p class='ft-size-12 fw-300 mb-2'>
                        "Sam is amazing! She's helped me with health insurance needs the past
                         couple years. Not only is she extremely responsive, but she also goes 
                         above and beyond in helping you with whatever you need. Thanks Sam!"
                    </p>
                    <p class='ft-size-12 fw-700 mb-0'>Kelly M.</p>
                </div>
            </div>
        </div>
    </div>
</section>