.hea-color{
    background-color: rgb(96 165 250);
}
.sec-header .a-color{
    background-color: rgb(59 130 246);
    border-radius: 0.5rem;
}
.button:hover{
  background-color:rgb(37 99 235);
  
}
.txt-dec-non:hover{
    text-decoration: none;
}
.w-16{
    width: 16px;
}
.radies-50{
    border-radius: 50px;
}
.w-80{
    width: 80%;
}
.w-10{
    width: 10%;
}
.call{
    color: white;
    font-size: 12px;
    font-weight: 300;
}