<section class='sec-header'>
    <div class="d-flex justify-content-center">
        <div class="col-12 hea-color">
            <div class='py-1'>
                <div class="py-2 d-flex ">
                    <div class='col-6 p-0 '>
                        <img class='w-75' src='./assets/images/usa-logo.png' alt='usa-logo' />
                    </div>
                    <div class='col-6 p-0'>
                        <div class='d-flex align-items-center justify-content-end' >
                            <div class='col-11 button a-color'>
                                <a href='tel:0000000000' class='d-flex justify-content-center txt-dec-non p-2' >
                                    <img class='w-16' src='./assets/images/phone.png' />
                                    <p class=' pl-1 m-0 call'>Call Now</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>