<section>
    <div class=" d-flex justify-content-center">
        <div hr class="col-12 px-xl-5 py-xl-4 py-3 ">
            <div class='text-center'>
                <img class='w-20' src="/assets/images/svg/health-check.svg" alt='checking'/>
            </div>
            <div class=' text-center'>
                <h5 class='fw-700 mb-2'>About ACA Health Plans</h5>
            </div>
            <div class='px-xl-4'>
                <div class='px-1 px-xl-2'>
                    <div class='py-2 '>
                        <p class='m-0 ft-size-12'>Nearly 16 million people signed up for this government give-back program,
                            a record high since previous years.The big reason is that the plans are cheaper for people than they
                            used to be..</p>
                    </div>
                    <div>
                        <p class='m-0 ft-size-12'>The federal government has pumped billions of dollars in recent years into subsidies to keep costs down for consumers.
                         Health officials say 4 out of 5 enrollees qualify for plans that cost $10 or less per month.</p>
                    </div>
                    <div class='py-2 '>
                        <p class='m-0 ft-size-12'>And 5 million people who are uninsured qualify for zero dollar premium plans.
                         <strong class='m-0 fw-600 ft-size-12'>Are you part of the 5 million?</strong>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>