<section>
    <div class=" d-flex justify-content-center">
        <div hr class="col-12 px-xl-5 py-3 py-xl-4 bg-color">
           <div class=' text-center'>
                <h5 class='fw-700 mb-2'>How It Works</h5>
           </div>
           <div class='px-xl-4'>
                <div class=' px-2'>
                    <div class='py-2 px-3 b-radies bg-color-w'>
                        <p class='m-0 ft-size-12'>✅ Step 1 - Qualify online at CoveredUSA.</p>
                    </div>
                    <div class='py-2 px-3 b-radies bg-color-w my-2'>
                        <p class='m-0 ft-size-12'>✅ Step 2 - Call in to speak with a licensed agent for your area.</p>
                    </div>
                    <div class='py-2 px-3 b-radies bg-color-w'>
                        <p class='m-0 ft-size-12'>✅ Step 3 - Discover health plans that are $10 or less per month.</p>
                    </div>
                </div>
           </div>
        </div>
    </div>
</section>